body{
    background-image:url("../public/backgroundCreateScooterForm.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    width:100vw;
    min-height: 100vh;
    margin: 0;
    box-shadow: inset 0 0 0 1000px rgba(119, 136, 153,.45);
    /*filter: grayscale(100%);*/
    /*backdrop-filter: grayscale(1);*/
    /*backdrop-filter: contrast(.8);*/
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}
.title{
    text-align: center;
    margin:15px;
    /*text-decoration: underline;*/
}
form, .table-class{
    background-color: rgba(0, 0, 0,.6);
    color: rgb(167, 201, 87);
    margin: auto;
    border-radius: 10px;
    padding:15px 30px;
}

.table-class{
    font-size: 16px;
}

.form-control, .form-select{
    background-color: rgb(242, 232, 207);
    border: rgb(79, 119, 45) solid 2px;
}

.form-control:focus, .form-select:focus{
    background: rgb(242, 232, 207);
    border: rgb(79, 119, 45) solid 2px;
    box-shadow: 0px 0px 10px 1px rgb(79, 119, 45);
}

.form-control:read-only, .form-control:read-only:focus{
    background: rgb(242, 232, 207);
    cursor:not-allowed;
    box-shadow: none;
}

.btn{
    width: 88px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(79, 119, 45);
    color: rgb(242, 232, 207);
    box-shadow: 0px 0px 0px 1.5px rgb(49, 87, 44);

}

a.btn{

}

.btn:hover{
    color: rgb(242, 232, 207);
    background: rgb(49, 87, 44);
}
.title{
    margin: 1.5rem 0rem;
}

.mb-3{
    margin: 0.5rem 0rem;
}

@media only screen
and (min-width : 1224px) {
    .inner-container{
        padding-top: 10%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen
and (max-width : 1224px) {
    .inner-container{
        padding-top: 3%;
        width: 100%;
    }
}