<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table>
    <thead>
        <th> Name </th>
        <th> Serial number </th>
        <th> Brand </th>
        <th> Cost </th>
        <th> Production Year </th>
        <th> Weight </th>
        <th> State </th>
    </thead>

    <tbody>
    <tr th:each="scooter : ${scooters}">
        <td><span th:text="${scooter.documentName}"> Title </span></td>
        <td><span th:text="${scooter.serialNumber}"> Title </span></td>
        <td><span th:text="${scooter.brand}"> Title </span></td>
        <td><span th:text="${scooter.cost}"> Title </span></td>
        <td><span th:text="${scooter.prodYear}"> Title </span></td>
        <td><span th:text="${scooter.weight}"> Title </span></td>
        <td><span th:text="${scooter.state}"> Title </span></td>
    </tr>
    </tbody>

</table>
</body>
</html>