<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div style="width:50vw; height: 50vh;">
    <div id="map"></div>
</div>



<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 46.7557613, lng: 23.634185 },
            zoom: 12.5,
        });

        const image = {
            url:  "../static/public/mapsPin.svg",
            scaledSize: new google.maps.Size(80, 80),
        }

        new google.maps.Marker({
            position: { lat: 46.7557613, lng: 23.634185 },
            map,
            title: "Scooter Pin",
            icon: image,
        });

    }


</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEMSwfZ9Ct_LmUlJY3eiFZbn8l3qmjjDY&callback=initMap&v=weekly"
        async
></script>

</body>
</html>