<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link th:href="@{/public/scooter-style.css}" rel="stylesheet">
<!--    <link href="../static/public/scooter-style.css" rel="stylesheet">-->

    <link th:href="@{/public/map-info-window-style.css}" rel="stylesheet">
<!--    <link href="../static/public/map-info-window-style.css" rel="stylesheet">-->

</head>
<body>

<div class="container" >
    <div class="inner-container">

        <div class="row">
            <div class="mapContainer" style="height: 50vh;">
                <div id="map"></div>
            </div>
        </div>

    </div>
</div>



<script th:inline="javascript">
    /*<![CDATA[*/

    var scooters = /*[[${scooters}]]*/ null;

    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 46.77254971477885, lng: 23.621516628328187 },
            zoom: 13,
            clickableIcons: false,
        });

        const image = {
            // url:  "../static/public/mapsPin.svg",
            url:  "/public/mapsPin.svg",
            size: new google.maps.Size(80, 80),
            scaledSize: new google.maps.Size(80, 80),
        }



        scooters.forEach(scooter => {
            console.log(scooter);
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(scooter.latitude), lng: parseFloat(scooter.longitude) },
                map,
                icon: image,
            });

            const scooterHref = "/firebase/scooters/" + scooter.documentName;

            const contentString =
                '<div class="map-info-container">'+
                '<h2 class="title-info-window">'+scooter.documentName+'</h2>' +
                '<div class="underline-info"></div>'+
                '<p> <b>State: </b>'+ scooter.state+'</p>'+
                '<p> <b>Price: </b>'+ scooter.cost +' RON</p>'+
                '<a class="link-info-window" href="'+ scooterHref+'">click for more details</a>'+
                "</div>";

            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });

            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false,
                });
            });

        });

    }
    /*]]>*/
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script th:src="|https://maps.googleapis.com/maps/api/js?key=${mapsApiKey}&callback=initMap&v=weekly|"
        async
></script>


</body>
</html>